@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balthazar", serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("images/Background_img.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
span {
  color: rgb(78, 177, 78);
}
nav p {
  font-size: 40px;
  font-weight: bold;
  margin-left: 30px;
  color: black;
}
nav ul {
  display: flex;
  margin-right: 80px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
  text-decoration: none;
  margin: 13px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
nav ul li a::after {
  content: "";
  background-color: black;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: transform 0.2s ease;
  opacity: 0;
}
nav ul li a:hover::after {
  transform: translateY(-8px);
  opacity: 1;
}
.image {
  height: 100vh;
  width: 100vw;
  background-position: cover;
  background-repeat: no-repeat;
}
.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__text p {
  font-size: 70px;
  font-weight: 800;
  color: black;
  position: absolute;
  top: 200px;
  font-family: "Source Serif Pro", serif;
}
.btn {
  font-size: 20px;
  position: absolute;
  top: 400px;
  width: 150px;
  outline: none;
  padding: 13px;
  background-color: #4fe0a8;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #5cbf2a;
}

.featured__title {
  margin: 30px 0 20px 50px;
}
.featured__plants h1 {
  font-size: 45px;
  font-weight: bold;
}
.featured__plants p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}

.featured__images {
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.box {
  margin: 10px;
  margin-left: 55px;
  float: left;
  width: 180px;
  /* border:1px solid black; */
  background-color: white;
}
.box img {
  width: 100%;
  height: 180px;
}
.box p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}
.box .price {
  color: black;
  font-size: 18px;
  font-weight: bolder;
}

.testimonials {
  margin: 100px auto;
  padding-top: 20px;
  background-image: url("images/gradienta-UF_wwDxI6uk-unsplash.jpg");
  background-position: center;
  background-size: cover;
}
.testimonials h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.testimonials h1::after {
  content: "";
  background: rgb(231, 113, 84);
  display: block;
  height: 3px;
  width: 120px;
  margin: 20px auto 5px;
}
.testimonials .testimonials__title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.row {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}
.profile {
  margin: 36px;
  float: left;
  width: 300px;
}
.profile img {
  width: 100%;
  height: 300px;
}
.profile h2 {
  text-align: center;
  margin-top: 10px;
}
.profile .inner {
  margin: 15px;
  font-size: 20px;
  text-align: center;
}

.about__section {
  /* height:100vh; */
  width: 100%;
  padding:60px 0px;
  margin-bottom: 200px;
}
.about__section img {
  height: auto;
  width: 400px;
}
/* .about__text{
  width:550px;
} */
.about__header {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
}
.about__text {
margin-left: 100px;
margin-top: 0;
}
.about__text h1 {
  font-size: 60px;
  color: green;
  text-transform: capitalize;
  text-align: center;
  
}
.about__text p {
  font-size: 20px;
  margin-top: 10px;
  line-height: 29px;
  
}
.about__text h2 {
  font-size: 20px;
  margin-top: 40px;
}
.about__text span {
  font-size: 30px;
  color: rgb(0, 171, 132);
}

/* conatct us form */
.contact__section {
  background: url("images/Background_img.jpg") no-repeat center;
  padding:40px 0;
  background-size: cover;
}
.contact__section h1 {
  text-align: center;
  color: rgb(19, 20, 20);
  font-size: 39px;
}
.border {
  width: 120px;
  height: 8px;
  background: #34495e;
  margin: 30px auto;
}

.contact__form {
  width: 55%;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact__form__text {
  font-size: 15px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;

  padding: 25px 45px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
  border-radius: 4px;
}
.contact__form__text:focus {
  box-shadow: 0 0 10px 4px #345e46;
}
textarea.contact__form__text {
  resize: none;
  height: 180px;
}
.contact__form__btn {
  float: right;
  border: 0;
  background: #345e41;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact__form__btn:hover {
  background: #29b97d;
}
  


@media screen and (max-width: 600px) {
  .box {
    width: 120px;
  }
  .box img {
    width: 100%;
    height: 120px;
  }
  .box p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
  }
  .box .price {
    color: black;
    font-size: 20px;
    font-weight: bolder;
  }
  .testimonials {
    margin: 100px auto;
    padding-top: 20px;
    background-image: none;
  }

  .testimonials h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  .testimonials h1::after {
    content: "";
    background: rgb(231, 113, 84);
    display: block;
    height: 3px;
    width: 100px;
    margin: 20px auto 5px;
  }
  .testimonials .testimonials__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .profile {
    margin: 0 100px;
    width: 200px;
  }
  .profile img {
    width: 100%;
    height: 200px;
  }
  .profile h2 {
    text-align: center;
    margin-top: 10px;
  }
  .profile .inner {
    margin: 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .about__header {
    flex-direction: column;
  }
  .about__section img {
    margin-left: 45px;
    width: 300px;
  }
  .about__text h1 {
    font-size: 30px;
    color: green;
    text-transform: capitalize;
    text-align: center;
    margin-top: 22px;
  }
  .about__text p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    line-height: 19px;
  }
  .about__text h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
  }
  .about__text span {
    font-size: 20px;
    color: rgb(0, 171, 132);
  }
}
